@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    font-family: 'Gamja Flower', cursive;
    font-size: 40px;
}

.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00807a;
    
    
}

.winner_msg{
    display: none;
}


.choice_container{
    /* border: 5px solid black; */
    /* border-radius: 10px; */
    height: 390px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00FFFF;
   
}

.c_choice{
    color:yellow;
}







.score_container{
    /* border: 2px solid black; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color : #00807a;
    
    

}

.score_container div{
    margin-top: 7px;
    
}

.switch{
    display: flex;
}
.switch div {
    justify-content: center;
    align-items: center;
}

img{
    width: 180px;
    height: 180px;
}
.img{
    border: 10px solid #4eb721;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:yellow;
    box-shadow: inset 0 0 0 0 #ff6d94f7;
    transition: ease-out 0.3s;
}

.img:hover{
    box-shadow: inset 280px 0 0 0 #ff6d94f7;
}


.footer{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.copy{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
}









