@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    font-family: 'Gamja Flower', cursive;
    font-size: 40px;
}

.choice_container{
    /* border: 2px solid black; */
    height: 500px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice_container i {
    /* border: 2px solid black; */
    width: 240px;
    height: 240px;
    
    margin-left: 200px;
    margin-top: 100px;
}





.score_container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}

.score_container div{
    margin-top: 10px;
}



